.list-container {
    margin: 5rem;
    font-size: large;
}

.stacked-list {
    display: flex;
}

.stacked-list-content {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;

}

.spaced-list {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    /* justify-content: center; */
}

.spaced-list li {
    margin: 1rem;
}