#modal{
    display:none;
    z-index: 9999;
    position: absolute;
    position: absolute;
    text-align: center;
    background-color: var(--cta-color);
    outline: 10px solid var(--cta-color);
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    /* margin:5px; */
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}
.modal-btn{
    padding:1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor:pointer;
}
.modal-link{
    padding:1rem;
    color:var(--primary-color);
    border:none;
}

.backdrop{
    background-color: black;
    opacity: 0.5 !important;
}

