@import "../../../styles/component.css";


.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.avatar-badge-container{
    max-width: fit-content;
    max-height: fit-content;
}

  
.badge-circle{
    border-radius: 50%;
}
.badge-square{
    border-radius: 0.5rem;
}
  
.avatar-text {
    display: flex;
    justify-content: center;
    background:var(--primary-color);
    align-items: center;
    font-weight: bold;
    color: var(--secondary-color);
}

.xl {
    height: 8rem;
    width: 8rem;
}
  
.l {
    height: 6rem;
    width:6rem;
}
  
.m {
    height: 5rem;
    width: 5rem;
}
.s {
    height: 4rem;
    width: 4rem;
}

.avatar-badge {
    /* height: 1.2rem;
    width: 1.2rem; */
    border: 0.25rem solid var(--secondary-color);
    position: relative;
    border-radius: 50%;
}
    
.avatar-badge-xl{
    /* 8rem is the height of badge */
    height: 1.5rem;
    width: 1.5rem;
    bottom:calc(8rem*0.4); 
    left:calc(8rem*0.8);

}
 
.avatar-badge-l {
    /* 6rem is the height of badge */
    height: 1.2rem;
    width: 1.2rem;
    bottom:calc(6rem*0.4);
    left:calc(6rem*0.8);
}
  
.avatar-badge-m {
    /* 5rem is the height of badge */
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid white;
    bottom:calc(5rem*0.4);
    left:calc(5rem*0.8);
}
.avatar-badge-s {
    /* 4rem is the height of badge */
    width: 0.8rem;
    height: 0.8rem;
    border: 0.2rem solid white;
    bottom:calc(4rem*0.4);
    left:calc(4rem*0.8);
}

.available {
    background: var(--available);
}
.away {
    background: var(--away);
}
  
.busy {
    background: var(--busy);
}
.grey{
    background-color: var(grey);
}
  