.side-hamburger{
    display: none;
    cursor:pointer;
    /* margin-left: auto; */
}

@media(max-width:768px){
    /* .aside-tab{
        display: block;
    } */
    .aside-bar{
        align-items: center;
    }

    .side-hamburger{
        display:block;
    }
    .menu-pills{
        display: block;
    }
    .iconic-pills{
        display: none;
    }
    /* changing the side-hamburger bars into a cross 
    1. hiding the first bar
    2. translating the second bar into diagonal line
    3. translating third bar into diagonal line as well*/
    .side-hamburger.active .bar:nth-child(2){
        opacity:0;    
    }
    .side-hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .side-hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}