@import "../../../styles/component.css";


.alert--container{
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    gap: 1rem;
    font-size: 1.75rem;
    width: max-content;
    padding: 1.5rem;
    margin:1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center; 
}
.alert--text{
    font-size: 1.5rem;
}
.cross {
    border: 0;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.cross:hover {
    color: var(--primary-color);
    background: var(--secondary-background-color);
}
.success {
    color:var(--success-color);
    background: var(--success-background-color);
}
  
.success .cross:hover {
    color: var(--success-background-color);
    background: var(--success-color);
}
  
.error {
    color: var(--error-color);
    background: var(--error-background-color);
}
  
.error .cross:hover {
    color: var(--error-background-color);
    background: var(--error-color);
}
  
.warning {
    color: var(--warning-color);
    background: var(--warning-background-color);
}
  
.warning .cross:hover {
    color:var(--warning-background-color);
    background: var(--warning-color);
}
  
.info {
    color: var(--info-color);
    background: var(--info-background-color);
}
  
.info .cross:hover {
    color: var(--info-background-color);
    background: var(--info-color);
}